<style>
  .mail-style {
    font-family: 'Courier New', Courier, monospace;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="mail-style">
  <p>Olá, {{name}}</p>
  <p>Parece que uma troca de senha foi solicitada por você.</p>
  <p>Se foi você, por favor click no link abaixo para escolher uma nova senha: </p>
  <p>
    <a href={{link}}>RESETAR SENHA</a>
  </p>
  <p><small>Se não foi você, não se preocupe, apenas descarte o email</small></p>
  <p>
    Grato,<br />
    <strong>Equipe de Desenvolvimento</strong>
  </p>
</div>
